<html>
    <head>
        <title>
               <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <!-- <header>
            page header
        </header> -->
        <%- include('_header')%>

        <main id="layout-main">
               <%- body %>
        </main>
        
        <!-- <footer>
            page footer
        </footer> -->
        <%- include('_footer')%>

        <%- style %>
    </body>
</html>